.scoreboard-container {
    position: relative;
    padding-top: 25px;
    clear: both;
}

.scoreboard-inner-container {
    position: relative;
    padding-top: 25px;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1d5db;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    position: relative;
}

.team {
    padding: 20px;
    background-color: #c1c7d0;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    flex: 1;
    text-align: center;
}

.score {
    position: relative;
    padding: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    background-color: #1d4ed8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 120px;
    clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);
    z-index: 1;
}

.score::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    bottom: 0;
    background-color: #0a3d62;
    clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);
    z-index: -1;
}

.scoreboard-status {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6b7280;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 2;
}

@media (max-width: 768px) {
    .scoreboard-table {
        font-size: 14px; /* Ajusta el tamaño del texto */
        width: 100%; /* Asegura que ocupe el ancho completo de la pantalla */
    }
}

/* Nuevo código para adaptar el marcador en móviles */
@media (max-width: 768px) {
    .scoreboard {
        flex-direction: column; /* Coloca los elementos en una columna en lugar de una fila */
        align-items: center;
        font-size: 1.2em; /* Ajusta el tamaño de la fuente para móviles */
        width: 100%; /* Asegura que el marcador ocupe el ancho completo */
        margin: 0 auto; /* Centra el marcador */
    }

    .team, .score, .scoreboard-status {
        width: 100%; /* Asegura que cada elemento ocupe el ancho completo */
        text-align: center; /* Centra el texto */
        margin-bottom: 5px; /* Añade un poco de espacio entre los elementos */
    }

    .score {
        font-size: 1.5em; /* Agranda el tamaño del puntaje */
    }
}
