{% extends "base.html" %}

{% block title %}Nosotros{% endblock %}

{% block content %}
<img src="{{ url_for('static', filename='logo/team.png') }}" alt="Equipo Unión Vinotinto"  class="logo" style="width:25%;">

<div class="about-container">
    <div class="about-text">
        <h2 class="center-text large-font">Sobre Nosotros</h2>
        <p class="justify-text medium-font">
            Unión Vinotinto es un equipo formado por talentosos jugadores venezolanos de fútbol sala,
            que han ido estableciéndose en Salamanca con mucho sacrificio y esmero. Dejando atrás familiares,
            amigos y costumbres, por eso cuando nos juntamos es como si nos conociéramos de toda la vida.
        </p>
    </div>
    <div class="about-image">
        <img src="{{ url_for('static', filename='grupal/visitante.JPG') }}" alt="visitante" class="equipo">
    </div>
</div>

{% endblock %}
