<div class="resultados-container">
    <div class="table-title">Resultados de la Jornada 6</div>
    <div class="table-container">
        <table class="result-table">
            <thead>
                <tr>
                    <th>LOCAL</th>
                    <th></th>
                    <th>VISITANTE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="team-name">BIZAS</td>
                    <td class="result">
                        <span>6</span> - <span>0</span>
                    </td>
                    <td class="team-name">CASTELLANOS DE MORISCOS</td>
                </tr>
                <tr>
                    <td class="team-name">DOÑINOS-LOW COST CARBURANTE</td>
                    <td class="result">
                        <span>4</span> - <span>4</span>
                    </td>
                    <td class="team-name">TRIANGLE CREATIVE-BAR VERDI</td>
                </tr>
                <tr>
                    <td class="team-name">PAPELERIA SAN FERNANDO B</td>
                    <td class="result">
                        <span>7</span> - <span>2</span>
                    </td>
                    <td class="team-name">DOÑINOS FS</td>
                </tr>
                <tr>
                    <td class="team-name">LIVERPOOL PUB</td>
                    <td class="result">
                        <span>3</span> - <span>4</span>
                    </td>
                    <td class="team-name">VALDELOSA FS</td>
                </tr>
                <tr>
                    <td class="team-name">FC HIDRAFRESA SONNER</td>
                    <td class="result">
                        <span>8</span> - <span>9</span>
                    </td>
                    <td class="team-name">LA ROSA IBÉRICA</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
