<div class="resultados-container">
    <div class="table-title">Resultados de la Jornada 7</div> <!-- Título agregado -->
    <div class="table-container">
        <table class="result-table">
            <thead>
                <tr>
                    <th>LOCAL</th>
                    <th></th>
                    <th>VISITANTE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="team-name local-team">UNIÓN VINOTINTO FS</td>
                    <td class="result">3 - 4</td>
                    <td class="team-name visitor-team">BIZAS</td>
                </tr>
                <tr>
                    <td class="team-name local-team">VALDELOSA FS</td>
                    <td class="result">6 - 6</td>
                    <td class="team-name visitor-team">DOÑINOS-LOW COST CARBURANTE</td>
                </tr>
                <tr>
                    <td class="team-name local-team">LA ROSA IBÉRICA</td>
                    <td class="result">8 - 6</td>
                    <td class="team-name visitor-team">DOÑINOS FS</td>
                </tr>
                <tr>
                    <td class="team-name local-team">CASTELLANOS DE MORISCOS</td>
                    <td class="result">0 - 3</td>
                    <td class="team-name visitor-team">PAPELERIA SAN FERNANDO B</td>
                </tr>
                <tr>
                    <td class="team-name local-team">FC HIDRAFRESA SONNER</td>
                    <td class="result">2 - 10</td>
                    <td class="team-name visitor-team">LIVERPOOL PUB</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
