<div class="resultados-container">
    <div class="table-title">Resultados de la Jornada 7</div> <!-- Título agregado -->
    <div class="table-container">
        <table class="result-table">
            <thead>
                <tr>
                    <th>LOCAL</th>
                    <th></th>
                    <th>VISITANTE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="team-name local-team">UNIÓN VINOTINTO FS</td>
                    <td class="result">4 - 5</td>
                    <td class="team-name visitor-team">DOÑINOS FS</td>
                </tr>
                <tr>
                    <td class="team-name local-team">TRIANGLE CREATIVE-BAR VERDI</td>
                    <td class="result">1 - 3</td>
                    <td class="team-name visitor-team">PAPELERIA SAN FERNANDO B</td>
                </tr>
                <tr>
                    <td class="team-name local-team">VALDELOSA FS</td>
                    <td class="result">11 - 11</td>
                    <td class="team-name visitor-team">BIZAS</td>
                </tr>
                <tr>
                    <td class="team-name local-team">LIVERPOOL PUB</td>
                    <td class="result">4 - 4</td>
                    <td class="team-name visitor-team">DOÑINOS-LOW COST CARBURANTES</td>
                </tr>
                <tr>
                    <td class="team-name local-team">LA ROSA IBÉRICA</td>
                    <td class="result">3 - 7</td>
                    <td class="team-name visitor-team">CASTELLANOS DE MORISCOS</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
